.wrapper .easy_tax {
    background-color: var(--red);
    padding: 1rem;
    margin-inline: 0;
    margin-block-start: 4rem;
}

.easy_tax .about_logo {
    width: 200px;
    margin-inline: auto;
}
.easy_tax .about_logo img {
    width: 100%;
}

.col {
    margin-block: 2rem;
    /* padding: 0; */
}

.card_about {
    background-color: var(--red);
    margin: 0;
}

.card .card_header {
    height: 200px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.card .card_header img {
    width: 100%;
    object-fit: cover;
}

.card .card_body .card_lead,
.card .card_body h3 {
    text-transform: capitalize;
    letter-spacing: 0.8px;
}

.card .card_body .card_lead {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--red);
}
.card .card_body h3 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-block-end: 1rem;
}
.card_about p {
    color: var(--white);
    margin-block-end: 1.5rem;
}

.easy_row {
    padding: 0;
    margin: 0;
}
.easy_row .col {
    padding-inline: 0;
    border: none;
}

.btn_light {
    color: var(--red);
    padding: 0.8rem 1.2rem;
}

@media (min-width: 48em) {
    .wrapper .easy_tax {
        margin-top: 4rem;
    }
    .col {
        margin-block: 0;
    }
    .card {
        display: flex;
        align-items: center;
        margin-block: 3rem;
    }

    .card .card_header {
        height: 260px;
        margin-inline-end: 1rem;
    }

    .card .card_body {
        text-align: center;
        /* margin-inline: 0.5rem; */
    }
    .card .card_body p {
        width: 300px;
        font-size: 0.9rem;
    }

    /* * need help row  */
    .easy_row {
        text-align: center;
    }
    .easy_row .card_about h5 {
        font-size: 2.5rem;
    }
    .easy_row .card_about p {
        width: 400px;
        margin-inline: auto;
    }
}

@media (min-width: 64em) {
    .wrapper .easy_tax {
        margin-top: 5rem;
    }

    .card .card_header {
        width: 500px;
    }
    .card {
        justify-content: space-around;
    }
}

@media (min-width: 80em) {
    .card .card_header {
        width: 600px;
        height: 300px;
    }
}
