input {
    padding: 1rem;
    border: none;
    /* box-shadow: 3px 3px 9px hsl(0, 0%, 70%); */
    /* margin-block-end: 1.2rem; */
    width: 100%;
    text-transform: capitalize;
    color: hsl(0, 0%, 30%);
}

input::placeholder {
    color: hsl(0, 0%, 70%);
}

select {
    height: 60px;
    text-transform: capitalize;
    border: none !important;
}

textarea {
    height: 160px;
    color: yellow;
}

@media (min-width: 64em) {
    input,
    select {
        padding: 1.4rem;
    }
}
