.wrapper .div_col {
    display: none;
}

.div_col_input .input_div {
    margin-block-start: 5rem;
}

.div_col_input .input_div input {
    margin-block-end: 2rem;
    text-transform: lowercase;
}

.div_col_input .input_div input:focus {
    outline-color: var(--red);
}

.div_col_input .input_div input:valid,
.div_col_input .input_div input:invalid {
    outline-width: 2px;
    outline-style: solid;
    border-radius: 2px;
}

.div_col_input .input_div input:invalid {
    outline-color: red;
}
.div_col_input .input_div input:valid {
    outline-color: green;
}

.div_col_input .input_div p {
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-left: 1rem;
    position: relative;
}

.div_col_input .input_div p span.dash_before_register {
    width: 7px;
    height: 20px;
    background-color: var(--red);
    display: block;
    position: absolute;
    left: -1rem;
    top: 0.325rem;
}

.btn_danger {
    background-color: var(--red);
    text-transform: capitalize;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    margin-block: 2rem;
}

.have_an_account {
    text-align: center;
    text-transform: capitalize !important;
}

.have_an_account .have_an_account_link a {
    color: var(--red);
    text-decoration: none;
}

@media (min-width: 48em) {
    .wrapper {
        margin-top: 8rem;
    }
}
