@media (min-width: 64em) {
    .admin_col {
        margin-top: 6rem;
    }
}

.select {
    width: auto;
    padding: 0.8rem 2rem;
    outline: 2px solid red;
    margin-bottom: 1rem;
}

.admin_col .tbody .tr td {
    font-size: 0.8rem;
    padding-block: 1rem;
}

.admin_col table {
    background-color: hsl(180, 100%, 99%);
}

.btn_div {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.btn_div .btn_delete {
    margin-right: 2rem;
    padding: 0.7rem 2rem;
}

.btn_div .btn_submit {
    margin-right: 1rem;
    padding: 0.7rem 2rem;
}
