@media (min-width: 64em) {
    .admin_col {
        margin-top: 6rem;
    }
}

.select {
    width: auto;
    padding: 0.8rem 2rem;
    outline: 2px solid red;
    margin-bottom: 1rem;
}

.balance {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.admin_col .tbody .tr td {
    font-size: 0.8rem;
    padding-block: 1rem;
}

.admin_col table {
    background-color: hsl(180, 100%, 99%);
}

.btn_div {
    display: flex;
    justify-content: space-between;

    margin-bottom: 2rem;
}

.btn_div .btn_delete {
    margin-right: 2rem;
    padding: 0.7rem 2rem;
}

.btn_div .btn_submit {
    margin-right: 1rem;
    padding: 0.7rem 2rem;
}

.fileInputDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* box-shadow: 0 0 18px hsla(0, 100%, 0%, 0.1); */
    padding-left: 1rem;
    background-color: var(--white);
}

.fileInputDiv .input {
    padding: 1rem 0;
}

.inputDiv {
    display: flex;
    gap: 3rem;
}
