.row {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
}

.row h3 {
    margin-block-end: 2rem;
    font-weight: bold;
}

.row .social {
    margin-block: 2rem;
}

.row form input,
.row form textarea {
    margin-block: 1rem;
}

.row form button {
    margin-block: 2rem;
}

.row form .btn_contact {
    background-color: var(--red);
    text-transform: capitalize;
    padding: 0.8rem 2rem;
    border-radius: 4px;
    margin-block: 2rem;
}

@media (min-width: 48em) {
    .row {
        display: flex;
        flex-direction: row;
        align-content: baseline;
    }

    .row > div:nth-of-type(1) h5 {
        padding-block: 1rem;
    }
    .row > div:nth-of-type(1) p {
        width: 350px;
    }
}

@media (min-width: 64em) {
    .row {
        margin-top: 8rem;
    }
}
