.offcanvas_end {
    width: 300px;
    background-color: var(--red);
}

.offcanvas_end ul a,
.offcanvas_end {
    color: white;
}

.offcanvas_end ul a {
    text-decoration: none;
    font-weight: 500;
    color: white !important;
}

.offcanvas_end ul li {
    margin-block: 0.5rem;
}

.offcanvas_end ul:nth-child(2) {
    margin-block-start: 2rem;
}

header {
    margin-bottom: 2rem;
}

.navbar {
    background-color: var(--red) !important;
    padding-block: 1rem;
}

@media (min-width: 64em) {
    .navbar .navbar_toggler {
        display: none;
    }

    .navbar .offcanvas_end {
        visibility: visible;
        position: relative;
        transform: translateX(0);
        width: 85%;
        justify-content: center;
    }

    .navbar .offcanvas_end div:nth-of-type(1) {
        display: none;
    }

    .navbar .offcanvas_end .offcanvas_body {
        display: flex;
        padding: 0;
    }
    .navbar .offcanvas_end .offcanvas_body ul {
        flex-direction: row;
    }
    .navbar .offcanvas_end .offcanvas_body ul:first-of-type {
        margin-inline-end: 2rem;
    }
    .navbar .offcanvas_end .offcanvas_body ul:nth-of-type(2) {
        margin-block: 0;
    }
    .navbar .offcanvas_end .offcanvas_body ul li {
        padding-inline: 0.8rem;
    }

    .navbar .offcanvas_end .offcanvas_body {
        align-items: baseline;
    }
}
